<form>
  <img src="assets/usuario.png" class="imagem-redimensionada">

  <input type="text"   placeholder="Nome"   class="form-control" name="nome" [(ngModel)]="contato.nome">
  <input type="text"   placeholder="CPF"   class="form-control" name="cpf" [(ngModel)]="contato.cpf">
  <input type="number" placeholder="Telefone"  class="form-control" name="telefone"  [(ngModel)]="contato.telefone">
  <input type="text"   placeholder="Email" class="form-control" name="email"  [(ngModel)]="contato.email">

  <input type="text"   placeholder="Endereço" class="form-control" name="email"  [(ngModel)]="contato.endereco">
  <input type="text"   placeholder="Bairro" class="form-control" name="bairro"  [(ngModel)]="contato.bairro">
  <input type="text"   placeholder="Cidade" class="form-control" name="cidade"  [(ngModel)]="contato.cidade">
  <input type="text"   placeholder="UF" class="form-control" name="uf"  [(ngModel)]="contato.uf">
  <input type="text"   placeholder="CEP" class="form-control" name="cep"  [(ngModel)]="contato.cep">

  <input type="button" value="Cadastrar" *ngIf="btnCadastro"  class="btn btn-primary" (click)="cadastrar()">
  <input type="button" value="Alterar"   *ngIf="!btnCadastro" class="btn btn-warning" (click)="editar()">
  <input type="button" value="Remover"   *ngIf="!btnCadastro" class="btn btn-danger" (click)="remover()">
  <input type="button" value="Cancelar"  *ngIf="!btnCadastro"  class="btn btn-secondary" (click)="cancelar()">
</form>
<table class="table" *ngIf="tabela">
  <thead>
      <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Selecionar</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let c of contatos">
         <td>{{c.codigo}}</td>
         <td>{{c.nome}}</td>
         <td>{{c.telefone}}</td>
         <td>{{c.email}}</td>
         <td><button class="btn btn-success" (click)="selecionarContato(c.codigo)">Selecionar</button></td>
      </tr>
  </tbody>
</table>



